.sheet {
	width: 100%;
	overflow-y: scroll;
	max-height: 100vh;
	overflow-x: hidden;

	.sheet-content {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}


/* Section */

.horizontal-section {
	display: flex;
	flex-direction: column;
}

.half-horizontal-section {
	flex: 0 0 50%;
	margin-top: 0.5rem;
}


/* Header */

.line-input {
	width: 100%;
	margin: 0.3rem auto 0.3rem auto;
	height: 36px;
	border: none;
	border-bottom: 1px solid currentColor;
	font-size: 1rem;

	&.half {
		flex: 0 0 45%;
	}
}

.line-input-label {
	width: 100%;
	margin: 0.3rem auto 0.3rem auto;
	font-weight: 400;
	font-size: 1.1rem;
}

.trademark-label {
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

.appearance-title {
	font-size: 1.1rem;
	font-weight: 400;
	margin-top: 1.25rem;
}


/* Traits */

.trait-title {
	display: inline-block;
	width: 100%;
	color: #3c3c3c;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	text-align: center;
	white-space: nowrap;
	padding-top: 2rem;
	padding-bottom: 1rem;
}


/* Class */

.table-header-row {
	height: 2rem;

	>*:nth-child(1) {
		width: 5.6rem;
		margin-top: 0.3rem;
		border-bottom: 1px solid transparent;
		font-size: 1rem;
		text-align: center;
	}

	>*:nth-child(2) {
		margin: 0.3rem;
		border-bottom: 1px solid transparent;
		font-size: 1rem;

	}

	>*:nth-child(3) {
		width: 4rem;
		margin: 0.3rem;
		border-bottom: 1px solid transparent;
		font-size: 1rem;
		text-align: center;
	}
}

.class-input {
	width: 85%;
	margin: 0.3rem;
	height: 36px;
	border: none;
	border-bottom: 1px solid currentColor;
	font-size: 1rem;
}

.level-input {
	width: 4rem;
	margin: 0.3rem;
	height: 36px;
	border: none;
	border-bottom: 1px solid currentColor;
	font-size: 1rem;
	text-align: center;
}


/* Ability */

.inventory-abilities {
	flex-direction: column-reverse;
}

.ability {
	align-items: center;

	input[type="checkbox"] {
		flex: 0 0 auto;
	}
}

.ability-input {
	width: 85%;
	margin: 0.3rem;
	height: 36px;
	border: none;
	border-bottom: 1px solid currentColor;
	font-size: 1rem;
}

.delete-button {
	background: #b62d20;
	color: white;
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;

	&:hover {
		background: #ff1500;
	}

	&:active {
		background: #7c0a00;
	}
}


/* Inventory */

.inventory-grid {
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(2, 1fr);
	padding: 0.3rem;

	>.grid-item {
		height: 200px;
		border-radius: var(--border-radius);
		border: 1px solid transparent;

		>.add-icon {
			display: none;
		}

		>.item-content {
			height: calc(100% - 1rem);
			width: calc(100% - 2rem);
			margin-left: 1rem;
		}

		&.empty {
			padding: 0;

			>.add-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 3rem;
				margin-top: 0;
			}

			>.item-content {
				display: none;
			}
		}

		&:not(.empty) {
			border-color: currentColor;
		}
	}
}

.item-delete-button {
	background: #b62d20;
	color: white;
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;

	width: 2rem;
	margin: 0.3rem 0.3rem 0.3rem auto;

	&:hover {
		background: #ff1500;
	}

	&:active {
		background: #7c0a00;
	}
}

.item-description.ft-input {
	resize: none;
	font-size: 0.8rem;
	height: 100%;
}

.item-name {
	font-size: 1rem;
}

.inventory-other {
	flex: 1 0 auto;
	border: 1px solid currentColor;
	border-radius: var(--border-radius);
	margin: 0.3rem;
	font-size: 0.8rem;
	resize: none;
}

.simple-input-label {
	display: flex;
	align-items: center;
}

.ep-ap-section {
	display: flex;
	flex-direction: column;
	padding-bottom: 0.5rem;
	align-items: center;
}

#experience-points,
#gear-points {
	margin: 0.3rem;
	width: 4rem;
	flex: 0 0 4rem;
}

.footer {
	height: 6rem;
}

/* Multiple Uses */

.add-button {
	width: 100%;
	background: transparent;
	color: darkgray;
	border-radius: var(--border-radius);
	border: 1px dashed gray;
	cursor: pointer;
	padding: 0.5rem;
	margin-top: 0.3rem;

	&:hover {
		border-color: white;
		background: gray;
		color: white
	}

	&:active {
		background: rgb(53, 53, 53);
	}
}

@media screen and (min-width: 500px) {
	.ep-ap-section{
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 850px) {
	.horizontal-section {
		flex-direction: row;
		justify-content: space-between;
	}

	.half-horizontal-section {
		flex-basis: 47%;
	}

	.inventory-abilities {
		flex-direction: row;
	}
}

@media screen and (min-width: 1000px) {
	.inventory-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1400px) {
	.sheet {
		width: unset;
		margin-left: auto;
		margin-right: auto;
		flex: 0 0 1000px;
	}
}