.sidebar {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 100%;
	transform: translateX(calc(100% - 6.5rem));
	transition: transform 250ms ease-in-out;
	background: transparent;
	color: black;
	z-index: 2;
	pointer-events: none;

	&.open {
		transform: none;
	}
}

#sidebar-toggle-button {
	margin: 1rem auto 1rem 1rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
	padding: 1rem;
	height: 3.5rem;
	border-radius: 50%;
	width: 3.5rem;
	cursor: pointer;
	align-self: end;
	pointer-events: all;
}

.sidebar-content {
	pointer-events: all;
	width: calc(100% - 6.5rem);
	background: white;
	border-left: 2px solid gray;
	overflow-y: scroll;
	padding: 1rem;
}


#notes-area {
	resize: none;
	height: 30rem
}

/* Import Export */

#export-dialog,
#import-dialog {
	width: 90%;
	height: 90%;
}

#import-area,
#export-area {
	flex: 1 0 auto;
	resize: none;
}


/* Dice Rolling */

#dice-tray {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.dice-container {
	flex: 1 0 18%;
	display: flex;
	justify-content: center;
}

.dice {
	position: relative;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	transition: 1s ease;
	margin: 0.5rem;
}

.result-1 {
	--dice-result: rotateX(360deg) rotateY(360deg);
}

.result-2 {
	--dice-result: rotateX(270deg) rotateY(360deg);
}

.result-3 {
	--dice-result: rotateX(360deg) rotateY(450deg);
}

.result-4 {
	--dice-result: rotateX(360deg) rotateY(270deg);
}

.result-5 {
	--dice-result: rotateX(450deg) rotateY(360deg);
}

.result-6 {
	--dice-result: rotateX(540deg) rotateY(360deg);
}

@keyframes rolling {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	100% {
		transform: var(--dice-result);
	}
}


.face {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 5px solid #f6f3f0;
	transform-style: preserve-3d;
	background: white
}

.face::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #f6f3f0;
	transform: translateZ(-1px);
}

.face::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: black;
	color: black;
}

.front {
	transform: translateZ(50px);
}

.back {
	transform: rotateX(180deg) translateZ(50px);
}

.top {
	transform: rotateX(90deg) translateZ(50px);
}

.bottom {
	transform: rotateX(-90deg) translateZ(50px);
}

.right {
	transform: rotateY(90deg) translateZ(50px);
}

.left {
	transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
	width: 30px;
	height: 30px;
	background: #f63330 !important;
	margin: -15px 0 0 -15px;
}

.back::after {
	margin: -35px 0 0 -30px;
	box-shadow: 40px 0,
		0 25px,
		40px 25px,
		0 50px,
		40px 50px;
	background: #58f630 !important;
	color: #58f630 !important;
}

.top::after {
	margin: -30px 0 0 -30px;
	box-shadow: 40px 40px;
}

.bottom::after {
	margin: -36px 0 0 -36px;
	box-shadow: 26px 26px,
		52px 52px,
		52px 0,
		0 52px;
}

.right::after {
	margin: -30px 0 0 -30px;
	box-shadow: 40px 0,
		0 40px,
		40px 40px;
}

.left::after {
	margin: -35px 0 0 -35px;
	box-shadow: 25px 25px,
		50px 50px;
}

#dice-count {
	width: 4rem;
}

.dice-result-view {
	display: flex;
	align-items: center;
	width: 100%;

	>*>input {
		width: 2rem;
		font-weight: bold;
	}

	&:not(.critical-failure) {
		>*:nth-child(2) {
			flex: 0 1 3rem;
			text-align: center;
		}

		>*:nth-child(1),
		>*:nth-child(3) {
			flex: 1 1 40%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		>*:nth-child(4) {
			display: none;
		}
	}

	&.critical-failure {

		>*:nth-child(1),
		>*:nth-child(2),
		>*:nth-child(3) {
			display: none;
		}

		>*:nth-child(4) {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

}


@media screen and (min-width: 850px) {
	.sidebar {
		width: 60%;
	}
}

@media screen and (min-width: 1400px) {
	main {
		display: flex;
		flex-direction: row-reverse;
	}

	.sidebar {
		width: max(250px, 50vw);
		position: relative;
		right: unset;
		transform: none;
		overflow-x: hidden;
		flex: 1;
	}

	#sidebar-toggle-button {
		display: none;
	}

	.sidebar-content {
		width: 100%;
	}
}